    <div class="row" ng-controller="facebookCtrl">
      <div class="col-md-4">
        <h4>{{welcomeMsg}}</h4>
        <div ng-if="isLoggedIn == false">
          <button type="button" class="btn btn-default" ng-click="login()">Login</button>
        </div>
        <div ng-if="isLoggedIn">
          <div><a href="{{userInfo.link}}" target="__blank"><img ng-src="{{picture}}"></a></div>
          <br>
          <button type="button" class="btn btn-default" ng-click="logout()">Logout</button>
          <br><br>
          <div class="well">
            <h4>User Info</h4>
            <ul>
              <li>ID: {{userInfo.id}}</li>
              <li>First Name: {{userInfo.first_name}}</li>
              <li>Last Name: {{userInfo.last_name}}</li>
              <li>Email Address: {{userInfo.email}}</li>
              <li>Gender: {{userInfo.gender}}</li>
              <li>Locale: {{userInfo.locale}}</li>
            </ul>
          </div>

          <br>
          <div class="well">
            <h4>Permissions</h4>
            <ul>
              <li ng-repeat="permission in permissions">{{permission.permission}} - {{permission.status}}</li>
            </ul>
          </div>
        </div>
      </div>


      <div class="col-md-8">
        <div ng-if="isLoggedIn" style="background-image:url(\"{{cover.source}}\")">
          <h3>Welcome to Facebook!</h3>
          <form ng-submit="postStatus()">
            <div class="form-group">
              <label>Status Update</label>
              <textarea class="form-control" ng-model="postBody"></textarea>
            </div>
              <button type="submit" class="btn btn-default">Submit</button>
          </form>

          <br><br>
          <div ng-repeat="post in posts" class="stbody">
            <div class="stimg">
              <img ng-src="{{picture}}">
            </div>
            <div class="sttext">
              {{post.message}}
            </div>
            <div class="sttime">{{post.created_time}}</div>
          </div>

          <div class="panel panel-default" ng-repeat="post in posts">
            <div class="panel-heading">
              {{post.story}}
            </div>
            <div class="panel-body">
              {{post.message}}
            </div>
            <div class="panel-footer">
              <small>On {{post.created_time | date : "MMM d' at 'H:mm:ss"}}</small>
            </div>
          </div>
        </div>


        <div ng-if="isLoggedIn==false">
          <h3>Welcome</h3>
          <p>You need to login to post.</p>
        </div>
      </div>
    </div>
